{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=Data/collectorsvault.db"
  },
  "Jwt": {
    "Key": "<your-secret-key-here>"
  },
  "AdminUser": {
    "Username": "mlhuff12@gmail.com",
    "TotpSecret": "<your-admin-totp-secret-here>"
  }
}
